.block{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-position: left;
    border-radius: 25px 0px 25px 0px ;
    text-shadow: 2px 2px 2px rgba(109, 102, 102, 0.829);
    box-shadow: 4px 4px 4px rgb(171 0 0 / 62%)
}
ul p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}