img {
    width: 20%;
    height: 15%;
    background-position: left;
}
aside{
    width: 80%;
    text-align: left;
    background-position: right;
    align-items: flex-end;
}
main aside{
    display: flex;
}


