img {
    width: 20%;
    height: 15%;
    background-position: left;
    float: left;
    padding-right: 10px;
}
aside{
    width: 80%;
    text-align: left;
    
}
main {
    display: flex;
    padding: 15%;
}


