nav ul {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    contain: content;
    text-align: center;
    height: 3em;
    width: 100%;
    margin: 0px;
    padding-inline-start: 0px;
}

li {
    list-style: none;
    display: block;
    background-color: aqua;
    padding-left: 10px;
    padding-right: 10px;
}
div{
    margin-top: 10px;
    margin-bottom: 10px;
}