nav ul {
    display: flex;
    justify-content: space-around;
    
    contain: content;
    text-align: center;
    height: 3em;
    width: 100%;
    margin: 0px;
    padding-inline-start: 0px;
}
li {
    list-style: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    
    margin-top: 20px;
}
.fond{
    background-image: url(image/fond_ecran.jpg);
    font-size: 25px;
    color: white;
}
