h1{
    font-size: 25px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(90deg,#274df5,#27F53F);
    text-shadow: 10px 9px 9px rgb(14, 14, 70);
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
    line-height: 30px;
}
footer{
    margin-top: 450px;
    background-color: burlywood;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px  ;
}