header{
    padding-top: 10px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    contain: content;
    text-align: center;
    height: 3em;
    width: 100%;
    margin: 0px;
    padding-inline-start: 0px;
    
}
li {
    list-style: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    padding-top: 20px;
    padding-left: 20px;
    color: black;
}
.fond{
    background-color: white;
    font-size: 25px;
    color: white;
    background-repeat:repeat;
    margin: auto;
}
body main{
    background-color: #BBFCC0;
    color: black;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
a:visited{
    color :rgb(34 126 207);
}
a:hover{
    color :blue;
}
a{
    color: rgb(34 126 207);
}
